name "pufferfish"
title "a small spiky pufferfish"
description "round body with bristled spines top and bottom and a tiny tail"
sauce author=hardlygospel date=20260527 license=CCBYSA4.0

count 1

left ###"""
  ^^^
 (o )<
  vvv
"""###

right ###"""
  ^^^
 >( o)
  vvv
"""###
