name "sprout"
kindom plant
title "a sprout"
description "a bud on the seafloor: cut it within the week, or it roots as a wigglewort"
sauce author=late.sh date=20260910 license=CCBYSA4.0

count 1

h-velocity 0
v-velocity 0

spawn-location floor

face ###"""
 ,
 )
(
"""###

face1 ###"""
 ,
(
 )
"""###
